{
  "presets": ["react"],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ],
  "env": {
    "client": {
      "presets": ["latest"],
      "plugins": ["react-hot-loader/babel"]
    },
    "server": {
      "presets": ["latest-node5"]
    }
  }
}
