.header {
  color: #f60;
  position: relative;
  height: 50px;
  padding-left: 60px;
  line-height: 50px;
  font-size: 30px;
}

.logo {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.top {
  color: #b2b6b9;
  font-size: 13px;
  text-transform: uppercase;
}
