@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  animation: fade-in 0.5s 1;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 25px;
}

.header {
  margin: 25px 0 0;
}

.link {
  font-size: 20px;
  color: #3c4761;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: #f60;
  }
}

.subtext {
  color: #b2b6b9;
}

.subtext-item {
  &::after {
    content: '•';
    display: inline-block;
    margin: 0 6px;
  }

  &:last-child::after {
    display: none;
  }
}

.comments-link {
  color: #b2b6b9;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: #8c8c8c;
  }
}
