@keyframes throbber-around {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(359deg);
  }
}

.throbber {
  animation: throbber-around 750ms infinite linear;
  display: inline-block;
  border: 4px solid #eee;
  border-left-color: #f60;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
