@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700');

:global .page {
  padding: 0 10px;
}

.main {
  font-family: 'PT Sans Caption', sans-serif;
  color: #3c4761;
  max-width: 700px;
  margin: 30px auto;
}
